html,
body {
    background-color: #080808;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.header {
    text-align: center;
    size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header .menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex: 1;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
    margin: 0 15px;
}

.header a:hover {
    color: #bbb;
}

.header .logo img {
    width: 80px;
    height: 70px;
    align-items: center;
}

.header .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.navigation-bar-a {
    size: 2em;
    display: flex;
    text-align: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-content .logo img {
    width: 40px;
    height: 30px;
}

.LogoSS {
    width: 40px;
    height: 40px;

}




.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #575757;
}

.footer {
    width: 0em;
    bottom: 3;
    left: 3;
    text-align: center;
    background-color: #f80000;
}

.hm-class {
    font-size: 2em;
    width: 100%;
    height: 100%;
}

#logo-hp {
    display: block;
    max-width: 100%;
    height: auto;
    width: 20em;
    align-items: center;
}

#btn-hp {
    background: #3F8E00;
    width: 15em;
    height: 5em;
    cursor: pointer;
    box-shadow: 0px 8px 20px #62BA1B;
    color: white;
    align-items: center;
}

#btn-tp {
    margin-top: 7em;
    background: #3F8E00;
    width: 15em;
    height: 4em;
    cursor: pointer;
    box-shadow: 0px 8px 20px #62BA1B;
    color: white;
}

#btn-tp:hover {
    background-color: #62BA1B;
}

#progress-id {
    margin-top: 1em;
    width: 80%;
    border-radius: 1em;
}

#id
{
	background-image: url(../Assets/Images/background.png) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#midground, #foreground {
    padding: 20px; 
    position: relative;
}
#content {
    position: relative;
    z-index: 1;
}



/*Não mexer*/
.glass 
{
    background: rgba( 255, 255, 255, 0.1 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.glass-nob
{
    background: rgba( 255, 255, 255, 0.1 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.glass-dark
{
    background: rgba( 0, 0, 0, 0.2 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 2em;
}

.opacity-50
{
    opacity: 50%;
}



/* Container para os botões */
.button-container {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
}

/* Estilo do botão Login */
.login-button {
  background-color: #2C2C2C; 
  color: white;/* Cor cinza clara */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


/* Estilo do botão Register */
.register-button {
  background-color: #2C2C2C;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover .login-button:hover{
  background-color: #333333; /* Efeito de hover */
}
